.chat-listing {
  display: grid;
  grid-template-rows: 1rem 2rem;
  row-gap: 3rem;
  padding: 1rem;
  justify-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: background-color 0.4s;
}

.chat-listing:hover {
  background-color: var(--primary-color);
}

.chat-name {
  font-size: 2rem;
  justify-self: center;
  font-weight: 700;
}

.last-msg {
  opacity: 0.7;
}

@media (max-width: 940px) {
  .chat-listing {
    display: flex;
    place-content: center center;
  }

  .chat-name {
    text-align: center;
    font-size: 1.7rem;
    align-self: center;
  }

  .last-msg {
    display: none;
  }
}
