.backdrop {
  position: fixed; /* Fixed positioning ensures it covers the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black */
  z-index: 1;
}

.modal {
  position: fixed;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 1rem;
  z-index: 2;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  width: clamp(500px, 70%, 700px);
  padding: 2rem;
}

.heading {
  font-size: 3rem;
}

.error {
  color: darkred;
  font-size: 1.2rem;
}

.form {
  display: grid;
  margin: 0 auto;
  grid-template-columns: max-content 1fr max-content;
  row-gap: 0.6rem;
  column-gap: 1rem;
  width: 60%;
}

.input {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.input-label {
  font-size: 1.5rem;
}

.regular-input {
  grid-column: 2 / -1;
}

.form input {
  padding: 0.2rem 0.4rem;
}

.add-person-btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.6rem;
  font-size: 1.2rem;
  background-color: #ffce1b;
  transition: transform 0.5s;
}

.add-person-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.members-list {
  grid-column: 2 / -1;
  list-style-type: none;
}

.person-listing {
  color: green;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.remove-person-btn {
  padding: 0.2rem 0.3rem;
  border: none;
  background-color: #ff2400;
  border-radius: 50%;
  padding: 0 0.3rem;
  font-size: 1rem;
  color: white;
}

.center-btn-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}

.create-chat-btn {
  padding: 0.3rem 0.8rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: greenyellow;
  transition: transform 0.5s;
}

.create-chat-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}
