.header {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  height: 75px;
  background-color: var(--primary-color);
}

.link {
  font-size: 2rem;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: var(--on-green-text);
  transition: transform 0.3s;
}

.link:last-child {
  margin-left: auto;
}

.link:hover {
  transform: scale(1.1);
  cursor: pointer;
}
