.h1 {
  font-size: 3rem;
  margin: 3rem;
  text-align: center;
}

.login-msg {
  text-align: center;
  font-size: 2rem;
}

.login-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem auto;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: transform 0.5s;
}

.link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.login-link {
  background-color: var(--primary-color);
  color: var(--on-green-text);
}
