.h1 {
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
}

.form {
  display: grid;
  grid-template-columns: max-content 250px;
  row-gap: 0.7rem;
  column-gap: 1rem;
  margin: 0 auto;
  width: max-content;
}

.input {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.input-name {
  font-size: 2rem;
}

.input-field {
  font-size: 1.7rem;
  padding: 0.3rem;
}

.btn-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.btn {
  background-color: var(--primary-color);
  color: var(--on-green-text);
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.login-msg {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem auto;
}

.link {
  color: black;
}
